{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Popup Example</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/pop-up.css' %}">
</head>
<body>

<div class="popup-overlay"></div>

<div class="popup">
  <div class="popup-content">
    <h2>Delete this book</h2>
    <p>Are you sure?</p>
            <form method="post" action="{% url 'delete book'  %}">
                {% csrf_token %}
                <button id="close-popup" type="submit">Yes</button>
            </form>
  </div>
</div>

<script src="{% static 'js/pop-up.js' %}"></script>

</body>
</html>
