{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block main_content %}
    
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/journal/bootstrap.min.css">
    
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center">Your text</h1>
                <form method="post" action="{% url "update book" pk=book.pk %}" enctype="multipart/form-data">
                    
                    {{ form|crispy }}
                    {% csrf_token %}
                    
                    <input  type="submit" class="btn btn-primary container row justify-content-center" 
                            value="Save Changes"/>
                </form>
            </div>
        </div>
    </div>

{% endblock %}