{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load static %}


{% block main_content %}

    
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/journal/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reviews.css' %}">




   

    <form method="get" action="{% url 'book details' pk=book.pk%}" enctype="multipart/form-data">
    
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <img src="{{ book.cover_image.url }}" alt="Cover Image" style="width: 300px;">
                </div>
            
                <div class="col-md-8">
                    <ul class="list-unstyled">

                        <li><div class="container row col">
                            <h4 class="text-light"><span class="text-dark">Title:
                            </span> {{ book.title }}</h4>
                        </div></li>



                        <li><div class="container row col">
                            <h4 class="text-light"><span class="text-dark">Author:
                            </span> {% if book.author %}{{ book.author }}
                            {% else %}Anonymous{% endif %}</h4>
                        </div></li>


                        <li><div class="container row col">
                            <h4 class="text-light"><span class="text-dark">Published in:
                            </span> {{ book.year_published }}</h4>
                        </div></li>


                        <li><div class="container row col">
                            <h4 class="text-light"><span class="text-dark">Genres:
                            </span> {% if book.category.all|length == 1 %}
                                    {{ book.category.name }}
                                    {% else %}
                                    {% for genre in book.genres.all %}
                                        {{ genre.name }}
                                        {% if not forloop.last %}
                                            /
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}</h4>
                        </div></li>

                        <li><div class="container row col">
                            <h4 class="text-light"><span class="text-dark">Summary:
                            </span><p class="text-wrap text-break">{{ book.description }}</p></h4>
                        </div></li>

                        <li><div class="container row col">
                            <h6 class="text-dark">Added By:
                             {% if not book.added_by %}Anonymous{% else %}
                                <a class='text-light' href="{% url 'bookie profile' pk=book.added_by.pk %}">{{ book.added_by }}</a>
                                {% endif %}</h6>
                        </div></li>
                </ul>

                <br>
                <div class="container row col">
                            <h4 style="font-size: 30px"><span style="color: #fdc1c1">Overall rating:
                            </span> {{ book.overall_rating|floatformat:1 }}</h4>
                </div>



                </div>
            </div>
    
        </div>
    </form>
    {% if current_user.is_staff or current_user.age >= book.required_age %}
  <div class="text text-center" style="background-color: lightcoral;" >
    <a style="color: beige;"
            href="{% url 'book details' pk=book.pk %}">Get more details about the book.</a>
   </div>
    {% endif %}
    
    
    
{% endblock %}