{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}



{% block main_content %}    
    
    
    
    
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/journal/bootstrap.min.css">
    <br>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center">Authors</h1>
                 
                <div>
                    <ul type="none">
                        {% for author in authors %}
                            <div class="card" style="border-color: #cccccc; background:none; padding: 15px;">
                            <li>
                                <li>
                                    <h3>
                                        <a href="{% url 'author details' pk=author.pk%}" class="text-decoration-none text-light">
                                            <div class="d-flex align-items-center mb-3">
                                                <img src="{{ author.author_picture.url}}" style="width: 20%; height: 20%; object-fit: cover;
                                width: 90px; height: 90px;" class="profile-picture rounded-circle">
                                                    {{ author.get_name }}   / {{ author.year_born }}
                                            </div>
                                        </a>
                                    </h3>
                                
                                </li>
                            
                            
                                <li>Total books added: {{ author.book_set.all|length }}</li>
                                    <ul>
                                        {% for category in author.get_book_categories %}
                                            <li>{{ category }}</li>
                                        {% endfor %}
                                    </ul>
                            </div>
                        {% endfor %}

                     </ul>

                </ul>
            </div>
        </div>
    </div>
    
    
    {# BUTTONS TO SCROLL AMONG PAGES #}
    <div class="row">
    <div class="col-lg-12">
        <div class="card d-flex align-items-center">
            <div class="card-body">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href='{% url 'all_writers_paginated' page_obj.previous_page_number %}'>Previous Authors</a></li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">Previous Authors</span></li>
                    {% endif %}
                    
                    {% for p in paginator.page_range %}
                        <li class="page-item"><a class="page-link" href='{% url 'all_writers_paginated' p %}'>{{ p }}</a></li>
                    {% endfor %}
                
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href='{% url 'all_writers_paginated' page_obj.next_page_number %}'>Next Authors</a></li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">Next Authors</span></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

    


{% endblock %}
