{% extends 'base.html' %}
{% block main_content %}
    {% load crispy_forms_tags %}

    <body>
        <div class="row col-md-6 mx-auto  card card-body text-center">
            <form action="{% url 'edit author' pk=object.pk %}" enctype="multipart/form-data" method="post">
            
                {{ form|crispy }}
                
                {% for field in form %}
                        {% if field.errors %}
                        <div style="font-size: 30px; color: #ec0707; background-color: #cbb6b6">
                            {{ field.errors|join:", " }}
                        </div>
                    {% endif %}
                    {% endfor %}
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" 
                value="Save Changes">
            </form>
        </div>
    </body>

{% endblock %}