
.type-border{
    border-width: 3px;
    border-style: solid;
}

.type-border-negative{
    border-color: #bb0a0a;
}

.type-border-positive{
    border-color: #41c97d;
}

.type-border-neutral{
    border-color: orange;
}