{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block main_content %}
    
    
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/journal/bootstrap.min.css">
    
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center">{{ profile }}</h1>
                <form method="post" autocomplete="off" action="{% url "bookie profile" pk=object.pk %}">
                    
                <ul type="none">
                    <img src='{{ object.profile_picture.url }}' alt="Profile Picture" style="width: 200px">
            
                    <li>Username: {{ object.user.username }}</li>
                    <li>Email: {{ object.profile.email}}</li>
            
                    <li>Age: {{ object.user.age }}</li>
                    <li>About me: {{ object.profile.bio }}</li>
                
                    {# CRUD OPERATIONS FOR SUPERUSERS AND OWNERS OF THE PROFILE #}
                    {% if request.user.is_superuser or request.user == profile.user %}
                        <a class="btn btn-primary container row justify-content-center" 
                           href="{% url 'edit bookie profile' pk=object.pk %}">Edit My Profile</a>

                    <form method="post" action="{% url 'delete bookie profile' pk=object.pk %}">
                    {% csrf_token %}
                    <button type="submit" onclick="return confirmProfileDelete();"
                    class="btn container row">Delete My Profile</button>
                    </form>

                {% endif %}
                
                    {% csrf_token %}
                </ul>
                    
                </form>
            </div>
        </div>
    </div>
    
    <div class="select2-dropdown--above">
        <h5>Wishlist</h5>
        <select id="books"></select>
            {% for book in profile.books_i_want_to_read.all %}
            <option value="{{ book }}">{{ book }}</option>
            {% endfor %}
    
    </div>
    
    <div class="select2-dropdown--above">
        <h5>My Library</h5>
        <select id="books"></select>
            {% for book in profile.books_ive_read.all %}
            <option value="{{ book.title }}">{{ book.title }}</option>
            {% endfor %}
    
    </div>
    <script>
    function confirmProfileDelete(){
        return (confirm("This will delete all your data!"))
    }
    </script>

{% endblock %}
