{% extends "base.html" %}
{% load static %}


{% block main_content %}
    <div class="content">
        <div class="align-center">
            <h1>Your Profile</h1>
            <ul class="align-center content" type="none">
                <img src="{% static user.profile_picture.url %}" alt="Profile Picture">
                <li>{{ user.profile_picture }}</li>
                <li>Username: {{ user.username }}</li>
                <li>Email: {{ user.email }}</li>
                <li>Age: {{ user.age}}</li>
                <li>About me: {{ user.bio }}</li>
            </ul>
        </div>    
    </div>
{% endblock %}