{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

      
    <div class="title">
        <title>Bookshelf Buddy</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/stars.css' %}">
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/journal/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </div>
  </head>



  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light container-fluid" style="background-image: url('{% static 'images/nav-bg.jpg' %}'); padding: 20px">

            <a class="navbar-brand text-light" href="{% url 'main page' %}">Bookshelf Buddy</a>

            <div class="nav-item text-light">
                <a class="nav-link text-light" href="{% url 'all_writers' %}">Authors</a>
            </div>

        {#  BUTTONS ONLY AVAILABLE TO STAFF MEMBERS #}
        {% if request.user.is_staff %}

            <div class="nav-item text-light" style="padding: 15px;">
                <a class="nav-link text-light" href="{% url 'add book' %}">Add Book
                    <img src="{% static 'images/pink_add_button.png' %}" width="20px" alt="Some Image" class="nav-item">
                </a>
            </div>

            <div class="nav-item">
                <a class="nav-link text-light" href="{% url 'create new author' %}">Add Author
                    <img src="{% static "images/pink_add_button.png" %}" width="20px" alt="Some Image" class="nav-item">
                </a>
            </div>
        {% endif %}

        <div class="d-flex ms-auto">
        {# Search fot book by title #}
            <div class="navbar-nav flex-grow-1 justify-content-center" style="padding:0px 18px;">

                <div class="d-flex">
                    <form method="post" action="{% url 'search by title' %}" class="d-flex searchbar">
                        {{ filter_by_title_form.form }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-light">Search</button>
                    </form>
                </div>
            </div>

            {# generate random book #}
            {% if user.is_authenticated %}
             <div class="d-flex flex-grow-1">
                    <form method="get" action="{% url 'generate random book' %}">
                        <button type="submit" class="btn btn-primary random-btn border-2" style="background-color: rgba(19,15,15,0.68);
    border-color: #f3f3f3;">I don`t know what to read</button>
                    </form>
                </div>
            {% endif %}
        </div>


        {# Buttons leading to crud user operations #}
        <div class="navbar-nav d-flex ms-auto">
             <div class="navbar-nav">
            {% if request.user.is_authenticated %}

                <a class="nav-link text-light" href="{% url 'bookie profile' pk=user.pk %}">Your Profile</a>
                <a class="nav-link text-light" href="{% url 'logout bookie' %}">Log out of your profile</a>

            {% else %}

                <a class="nav-link text-light" href="{% url 'register bookie' %}">Create new profile</a>
                <a class="nav-link text-light" href="{% url 'login bookie' %}">Log into your account</a>
            {% endif %}
             </div>
        </div>
    </nav></body>




{% block main_content %}
{% endblock %}



<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h3>Often asked questions</h3>
                <details class="footer-details">
                    <summary>Why do I need an account?</summary>
                    <p>You need an account in order to keep track of all the books you
                    want to read, have read. People with accounts can post ratings of the books
                    they have read and share their review with the others.</p>
                </details>

                <details class="footer-details">
                    <summary>How do I rate a book?</summary>
                    <p>First you need an account, then you have to select
                    that you have read the book you want to rate. Then you`ll get the
                    option to vote for the book. The rating goes from 1 to 10, with 10 being one
                    of the best books you have read. We also suggest you hover  with your mouse
                        on the stars for a bit more fun :).</p>
                </details>
                <details class="footer-details">
                    <summary>I don`t want to see certain reviews.</summary>
                    <p>You can easily choose what type of reviews to see. Simply click on the box next to
                    'Sort reviews by type' and choose the type of reviews you wish to see." Then click on our
                    button 'Sort' and you`ll only get the selected reviews.</p>
                </details>
                <details class="footer-details">
                    <summary>What does the button 'I don`t know what to read' do?</summary>
                    <p>This is a special button for all our authorised users who don`t know what
                    they want to read. Our powerful servers scan your libraries 'Want to read' and
                    'Have Read' and generate a book that doesn`t exist there.</p>
                </details>
                <details class="footer-details">
                    <summary>I click on 'I don`t know what to read' button and nothing is happening</summary>
                    <p>This is because you have read and/or put all our available books in your
                        want to read library. We apologise for this inconvenience and we would encourage you to
                         track our site for any new books.</p>
                </details>

            </div>
            <div class="col-md-2 text-end text-center">
                <h5>About us:</h5>
                <a href="{% url 'about us' %}"  class='text-light text-center'>Who are we?</a>
                



        </div>
    </div>
</footer>




</html>
