{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
      
    <div class="title">
        <title>Bookshelf Buddy</title>
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/journal/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/stars.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </div>
  </head>
  <body>
 
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'main page' %}">Bookshelf Buddy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- Search bar -->
            <li class="nav-item">                
            </li>
        </ul>
        
        <ul class="navbar-nav ml-auto">
           
            {% if  user.is_authenticated %}
             <li class="nav-item">
                <a class="nav-link" href="{% url 'bookie profile' pk=user.pk %}">Your Profile</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="{% url 'logout bookie' %}">Log out of your profile</a>
            </li>     
          
            {% else %}
               <li class="nav-item">
                <a class="nav-link" href="{% url 'register bookie' %}">Create new profile</a>
            </li>
                
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login bookie' %}">Log into your account</a>
            </li>
            {% endif %}
            {% if request.user.is_authenticated and not request.user.is_staff %}
                <li class="nav-item">
                <a class="nav-link" href="{% url 'request a book' %}">Request a book</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'all bookies requests' %}">My requests</a>
                </li>
            {% endif %}
        
        
      
            
            <!-- Link to the main page -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'all_writers' %}">Authors</a>
            </li>
        
          {#  BUTTONS ONLY AVAILABLE TO STAFF MEMBERS #}
            {% if request.user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add book' %}">Add Book
                        <img src="{% static 'images/add_button.png' %}" width="20px" alt="Some Image" class="nav-item">
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create new author' %}">Add Author
                        <img src="{% static 'images/add_button.png' %}" width="20px" alt="Some Image" class="nav-item">
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
  </body>

{% block main_content %}
{% endblock %}
</div>

<footer class="bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Often asked questions</h3>
                <details class="footer-details">
                    <summary>Why do I need an account?</summary>
                    <p>You need an account in order to keep track of all the books you
                    want to read, have read. People with accounts can post ratings of the books
                    they have read and share their review with the others.</p>
                </details>
                <details class="footer-details">
                    <summary>How do I rate a book?</summary>
                    <p>First you need an account, then you have to select
                    that you have read the book you want to rate. Then you`ll get the
                    option to vote for the book. The rating goes from 1 to 10, with 10 being one
                    of the best books you have read. We also suggest you hover  with your mouse 
                        on the stars for a bit more fun :).</p>
                </details>
                <details class="footer-details">
                    <summary>I can`t find a book.</summary>
                    <p>This is the content of details 3.</p>
                </details>
                <details class="footer-details">
                    <summary>Details 4</summary>
                    <p>This is the content of details 4.</p>
                </details>
                <details class="footer-details">
                    <summary>Details 5</summary>
                    <p>This is the content of details 5.</p>
                </details>
            </div>
        </div>
    </div>
</footer>
</html>
