{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block main_content %}
    
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/journal/bootstrap.min.css">
    
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center">Your text</h1>
                <form method="post" autocomplete="off" action="{% url "register bookie" %}">
                    
                    {{ form|crispy }}
                    {% csrf_token %}
                    
                    <input type="submit" class="btn btn-primary" value="Register"/>
                </form>
            </div>
        </div>
    </div>

{% endblock %}




{% if not current_user.is_authenticated %}
                <h1>You aren`t auth</h1>
                <a href="{% url 'login bookie' %}">Open this link to login/create your own account</a>

            {% else %}
                <h1>You are auth</h1>
                {% if book in current_user.want_to_read.all and book not in current_user.have_read.all %}
                    <h1>You have added it to want to read</h1>

                    {# Therefore you can add it to have_read library #}

                    <form action="{% url 'add to already read' %}" method="post">
                        {% csrf_token %}

                        <input type="hidden" name="book_id" value="{{ book.pk }}">
                        <button class="btn" type="submit">
                        I have read this book</button>
                    </form>


                {% elif book in current_user.have_read.all %}
                    <h1>You have added it to have read</h1>
                    {# WE MOVE TO THE REVIEWS #}

                    {% if not current_review.has_voted%}
                        <h1>You haven`t voted yet</h1>

                        {# The user hasn`t voted yet #}

                        
                    {% else %}
                        <h1>You have voted.</h1>
                        {# If the user had voted, he can only edit/delete his review #}

                        
                    {% endif %}
                {% else %}
                    {# The book doesnt exist in either of the libraries #}

                    <h1>You haven`t added it anywhere</h1>
                    
                    
                    

                {% endif %}
                {% endif %}
